* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

#container {
  display: flex;
  background-color: #1e1e1e;
}

#main_card {
  padding: 4.8rem;
  height: 100vh;
  width: 100%;
}

#left_card {
  height: 100vh;
  width: 406px;
  background-color: #130f1e;
  padding: 107px 44px;
}

.container_text {
}

button > .button01 {
  background-color: #8257e5;
  color: #fff;
  border-radius: 24px;
  padding: 12x 24px;
  width: 317px;
  height: 48px;
}

button.button01 {
  background-color: #8257e5;
  color: #fff;
  border-radius: 24px;
  padding: 12x 24px;
  width: 317px;
  height: 48px;
}
